header{
    background-color: #bfdde0;
    padding: 1rem 1rem 1rem;
    display: flex;
    flex-wrap: wrap;
  display: flex;
  justify-content: center;
}
h1{
    display: none;
}
header>img{
  max-width: 200px; 
  height: auto;
}
body{
    margin: 1.5rem 1rem 0;
    font-family: helvetica, sans-serif;
    color: #283d55;
}
h2{
    color:#e4178c;
    font-family: pt-serif, serif;
}
nav>a{
    background-color: #283d55;
    color: #80bc41;
    text-decoration: none;
    padding: .5rem .5rem;
    display: inline-block;
    margin: .25rem;
}
nav>a:hover{
    background-color: #80bc41;
    color: #283d55;
}
nav{
    flex-basis: 100%;
    text-align: center;
}
main {
    padding-top: 1.5rem;
}
.images{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.product-image{
     display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.events-images{
    margin-top: 4rem;
    text-align: left;
}
.events-images>img{
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 450px;
    height: auto;
}
@media (min-width: 1000px){
nav{
    display: flex;                
    justify-content: right;
    align-items: center;
    width: 100%;
    padding: 1rem 3rem;       
    margin-left: auto;         
}
header{
    display: flex;
    justify-content: flex-start;  
    align-items: center;
    padding: 1rem 3rem;
  }
  header>img{
    margin-right: auto;        
  }
  .events-images{
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
  }
  .events-images>img{
    margin: 0;         
  }
}

